@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a sua password?";
}

<!-- Centraliza a página usando Flexbox -->
<style>
    .forgot-password-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    /* Modo claro */
    [data-bs-theme="light"] .forgot-password-container {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
        max-width: 400px;
        width: 100%;
        padding: 2rem;
        border-radius: 10px;
    }


    /* Modo escuro */
    [data-bs-theme="dark"] .forgot-password-container {
        background-color: #2b3035;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
        max-width: 400px;
        width: 100%;
        padding: 2rem;
        border-radius: 10px;
    }

    .form-floating {
        position: relative;
    }

    .forgot-password-title {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    [data-bs-theme="light"] .forgot-password-title
    {
        color: #343a40; /* cor de título */
    }

    [data-bs-theme="dark"] .forgot-password-title {
        color: white;
    }

    .forgot-password-container a {
        color: #007bff;
    }

    .forgot-password-container a:hover {
        text-decoration: underline;
    }

    .additional-links {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="forgot-password-page">
    <div class="forgot-password-container">
        <h1 class="forgot-password-title">@ViewData["Title"]</h1>
        <h5 class="text-center mb-4">Digite o seu email para redefinir sua password</h5>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Campo de Email -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Botão de Redefinir Senha -->
            <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir Password</button>
        </form>

        <!-- Link para login -->
        <div class="additional-links">
            <p>Já tem uma conta? <a asp-page="./Login">Fazer login</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

